@inject IApplicationFormService ATSService
@inject LocalStorageService LocalStorageService
@using SigPad

<MudPaper Style="border-radius:20px; overflow:hidden; box-shadow:0px 10px 45px rgba(0,0,0,0.1); margin: 5px; max-width:1200px;">
    @if (IsSuccess)
    {
        <SuccessApplicationFormComponent/>
    }
    else if (showPhilSys)
    {
        <div style="margin: 100px;">
            <PhilSysComponent HashToken="HashToken"></PhilSysComponent>
        </div>
    }
    else
    {
        <MudForm @ref="_form" >
            <MudStepper @ref="_stepper" @bind-ActiveIndex="_activeStep" Class="custom-stepper">
                <ChildContent>
                    <!-- STEP 1 -->
                    <MudStep Title="Part 1 - Step 1" Class="pa-4">
                        <MudPaper Elevation="0">
                            <MudGrid Justify="Justify.Center"
                                     AlignItems="AlignItems.Center">
                                <MudItem xs="12" sm="6" Class="d-flex justify-center align-content-center">
                                <MudPaper Elevation="0" Style="width: 100%;">
                                    <div class="d-flex flex-column align-center text-center" style="height:100%; justify-content:center; padding:24px;">
                                        <MudText Typo="Typo.h5" Style="font-weight:700;" Class="gradient-text">Get your identity verified using your PSA's live national ID verification free of charge!</MudText>
                                        <div class="mt-4 d-flex" style="align-items:center; gap:16px; justify-content:center ">
                                            <MudImage Src="/images/ats/philippine-id.png" Alt="Philippine Identification System" Style="max-width:300px; height:auto;" />
                                        </div>
                                    </div>
                                </MudPaper>
  
                                </MudItem>
                                <MudItem xs="12" sm="6" Class="d-flex justify-center align-center">
                                    <div style="padding:18px;">
                                        <MudPaper Class="pa-4" Style="background:linear-gradient(180deg,#f2fbff,#e6f7fb); box-shadow: 0 0 10px rgba(42,119,174,0.8); width:100%; border-radius:8px;">
                                            <MudText Typo="Typo.subtitle1" Style="font-weight:700;" Class="mb-2 gradient-text">IMPORTANT NOTICE!</MudText>
                                            <MudText Typo="Typo.body2" Class="mb-3">
                                                I am a registered PSA National ID member and I voluntarily consent to share my verified information to any prospective employer I am applying for.
                                            </MudText>
                                            <div class="d-flex flex-column align-center justify-center mt-4">
                                                <MudCheckBox T="bool" @bind-Value="consent" Label=" Yes, I agree and wish to proceed." />
                                                <MudButton Disabled="!consent"
                                                           Class="@($"mb-4 theme-button {(consent ? "theme-button-active " : "theme-button-inactive")}")"
                                                           Style="width: 150px; border-radius: 4px;"
                                                           OnClick="ProceedClicked">
                                                    Proceed
                                                </MudButton>

                                                <MudCheckBox T="bool"
                                                             @bind-Value="declineConsent"
                                                             Label="No, I do not wish to proceed." />
                                                <div class="d-flex" style="gap:30px;">
                                                    <MudButton Style="background-color:gray; color:white; border-radius: 4px;" OnClick="SkipStep">Skip</MudButton>
                                                    <MudButton Style="background-color:gray; color:white; border-radius: 4px;" OnClick="ResetStepper">Cancel</MudButton>
                                                </div>
                                            </div>
                                        </MudPaper>
                                    </div>

                                </MudItem>
                            </MudGrid>
                        </MudPaper>
                    
                    </MudStep>

                    <!-- STEP 2 -->
                    <MudStep Title="Part 1 - Step 2">
                        <MudText Typo="Typo.h6" Align="Align.Center" Style="font-weight:700;" Class="mb-4 mt-4 gradient-text">Personal Information</MudText>
                        <MudGrid>
                            <!-- Left column: Personal information fields -->
                            <MudItem xs="12" sm="6">
                                <MudPaper Class="pa-4" Elevation="0">
                                    <MudGrid>
                                        <MudItem xs="12">
                                        <MudTextField FullWidth="true"
                                                          Adornment="Adornment.Start"
                                                          Variant="Variant.Outlined"
                                                          Margin="Margin.Dense"
                                                          @bind-Value="personalDetails.PositionAppliedFor"
                                                          Required="true"
                                                          RequiredError="Position Applied For is required"
                                                          Class="oneplatform-rounded-input"
                                                          Label="Position Applied For" />
                                        </MudItem>

                                        <MudItem xs="12">
                                        <MudTextField FullWidth="true"
                                                          Adornment="Adornment.Start"
                                                          Variant="Variant.Outlined"
                                                          Margin="Margin.Dense"
                                                          @bind-Value="personalDetails.FirstName"
                                                          Required="true"
                                                          RequiredError="First Name is required"
                                                          Class="oneplatform-rounded-input"
                                                          Label="First Name" />
                                        </MudItem>
                                        <MudItem xs="12" sm="6">
                                            <MudTextField FullWidth="true"
                                                          Adornment="Adornment.Start"
                                                          Variant="Variant.Outlined"
                                                          Margin="Margin.Dense"
                                                          @bind-Value="personalDetails.MiddleName"
                                                          Class="oneplatform-rounded-input"
                                                          Label="Middle Name" />
                                        </MudItem>
                                        <MudItem xs="12" sm="6" Class="d-flex align-center">
                                            <div style="display:flex; align-items:center; gap:8px; width:100%;">
                                                <MudCheckBox T="bool"
                                                             Value="NoMiddleName"
                                                             ValueChanged="NoMiddleNameChange"
                                                             Label="Check if no Middle Name"
                                                             Class="small-checkbox-label" />
                                            </div>
                                        </MudItem>

                                        <MudItem xs="12">
                                            <MudTextField FullWidth="true"
                                                          Adornment="Adornment.Start"
                                                          Variant="Variant.Outlined"
                                                          Margin="Margin.Dense"
                                                          @bind-Value="personalDetails.LastName"
                                                          Required="true"
                                                          RequiredError="Last Name is required"
                                                          Class="oneplatform-rounded-input"
                                                          Label="Last Name" />
                                        </MudItem>
                                        <MudItem xs="12" sm="4">
                                            <MudTextField FullWidth="true"
                                                          Adornment="Adornment.Start"
                                                          Variant="Variant.Outlined"
                                                          Margin="Margin.Dense"
                                                          @bind-Value="personalDetails.Suffix"
                                                          Class="oneplatform-rounded-input"
                                                          Label="Suffix" />
                                        </MudItem>
                                        <MudItem xs="12" sm="4">
                                            <MudDatePicker @bind-Date="DateOfBirth"
                                                           Label="Birth Date"
                                                           Adornment="Adornment.End"
                                                           Required="true"
                                                           RequiredError="Birth Date is required"
                                                           Variant="Variant.Outlined"
                                                           Margin="Margin.Dense"
                                                           MaxDate="@DateTime.Today"
                                                           DateFormat="MM/dd/yyyy"
                                                           Class="oneplatform-rounded-input" />
                                        </MudItem>

                                        <MudItem xs="12" sm="4">
                                            <MudSelect T="string"
                                                       @bind-Value="personalDetails.Sex"
                                                       Class="oneplatform-rounded-input"
                                                       Adornment="Adornment.Start"
                                                       Required="true"
                                                       RequiredError="Sex is required"
                                                       Variant="Variant.Outlined"
                                                       Margin="Margin.Dense"
                                                       Label="Sex"
                                                       FullWidth="true">
                                                <MudSelectItem Value="@("Male")">Male</MudSelectItem>
                                                <MudSelectItem Value="@("Female")">Female</MudSelectItem>
                                                <MudSelectItem Value="@("Prefer not to say")">Prefer not to say</MudSelectItem>
                                            </MudSelect>
                                        </MudItem>

                                        <MudItem xs="12">
                                            <MudTextField FullWidth="true"
                                                          Adornment="Adornment.Start"
                                                          Variant="Variant.Outlined"
                                                          Margin="Margin.Dense"
                                                          @bind-Value="personalDetails.EmailAlternative"
                                                          Required="true"
                                                          RequiredError="Alternate Email Address is required"
                                                          Class="oneplatform-rounded-input"
                                                          Validation="@ValidateEmailAlternative"
                                                          Label="Alternate Email Address" />
                                        </MudItem>

                                        <MudItem xs="12">
                                            <MudTextField FullWidth="true"
                                                          Adornment="Adornment.Start"
                                                          Variant="Variant.Outlined"
                                                          Margin="Margin.Dense"
                                                          @bind-Value="personalDetails.MobileNumber"
                                                          Required="true"
                                                          RequiredError="Phone Number is required"
                                                          Class="oneplatform-rounded-input"
                                                          Label="Phone Number"
                                                          Mask="@(new PatternMask("00000000000"))"/>
                                        </MudItem>
                                    </MudGrid>
                                </MudPaper>
                            </MudItem>

                            <MudItem xs="12" sm="6">
                                <MudPaper Class="pa-10" Elevation="0" Style=" height: auto; background:linear-gradient(180deg,#f2fbff,#e6f7fb); box-shadow: 0 0 10px rgba(42,119,174,0.8); width:100%; border-radius:8px;">
                                    <div class="d-flex flex-column align-center" style="gap:12px;">
                                        <MudImage Src="@(string.IsNullOrWhiteSpace(FaceUrl) ? "images/generic/default_picture.jpg" : FaceUrl)"
                                                  Alt="User Profile"
                                                  Style="height: 200px; width: 200px; object-fit: cover; border-radius: 50%; outline: 2px solid #000;" />
                                        <MudText Typo="Typo.subtitle1">Biometric Image</MudText>

                                        <div class="d-flex flex-column" style="width:100%; margin-top:12px; gap:8px;">
                                            <MudFileUpload T="IBrowserFile"
                                                           MaxFileSize="26214400"
                                                           @bind-File="AdditionalGovtIDFile"
                                                           @ref="AdditionalGovtIDFileUpload"
                                                           Accept=".pdf"
                                                           OnFilesChanged="OnGovtIdUpload"
                                                           Required="true"
                                                           RequiredError="Government Id is required"
                                                           Class="centered-upload"
                                                           DragAndDrop="true">
                                                <CustomContent>
                                                    <div style="display: flex; justify-content: center;">
                                                        <MudFab Class="oneplatform-rounded-input"
                                                                StartIcon="@Icons.Material.Filled.CloudUpload"
                                                                Style="width:300px; border: 1px solid gray; border-radius: 4px;"
                                                                OnClick="@context.OpenFilePickerAsync"
                                                                Label="Upload Unexpired Government ID" />
                                                    </div>
                                                </CustomContent>
                                                <SelectedTemplate>
                                                    @if (context != null)
                                                    {
                                                        <div style="display:flex; justify-content:center; width:100%; margin-top:8px;">
                                                            <MudStack Row AlignItems="AlignItems.Center" Spacing="2" Class="w-70">
                                                                <MudText>@context.Name (@($"{context.Size / 1024d:N1} kB"))</MudText>
                                                                <MudIconButton Icon="@Icons.Material.Filled.Close"
                                                                               Color="Color.Default"
                                                                               Size="Size.Small"
                                                                               OnClick="@(() => RemoveFileFromUploadsAsync(context))" />
                                                            </MudStack>
                                                        </div>
                                                    }
                                                </SelectedTemplate>
                                            </MudFileUpload>

                                            <MudFileUpload T="IBrowserFile" 
                                                           Accept=".pdf"
                                                           DragAndDrop="true"
                                                           Required="true"
                                                           @bind-File="NBIClearanceFile"
                                                           @ref="NBIClearanceFileUpload"
                                                           OnFilesChanged="OnNbiUpload"
                                                           RequiredError="NBI Clearance is required"
                                                           MaxFileSize="26214400"
                                                           Class="mt-4 centered-upload">
                                                <CustomContent>
                                                    <div style="display: flex; justify-content: center;">
                                                        <MudFab Class="oneplatform-rounded-input"
                                                                StartIcon="@Icons.Material.Filled.CloudUpload"
                                                                Style="width:300px; border: 1px solid gray; border-radius: 4px;"
                                                                OnClick="@context.OpenFilePickerAsync"
                                                                Label="Upload NBI Clearance" />
                                                    </div>
                                                </CustomContent>
                                                <SelectedTemplate>
                                                    @if (context != null)
                                                    {
                                                        <div style="display:flex; justify-content:center; width:100%; margin-top:8px;">
                                                            <MudStack Row AlignItems="AlignItems.Center" Spacing="2" Class="w-70">
                                                                <MudText>@context.Name (@($"{context.Size / 1024d:N1} kB"))</MudText>
                                                                <MudIconButton Icon="@Icons.Material.Filled.Close"
                                                                               Color="Color.Default"
                                                                               Size="Size.Small"
                                                                               OnClick="@(() => RemoveFileFromUploadsAsync(context))" />
                                                            </MudStack>
                                                        </div>
                                                    }
                                                </SelectedTemplate>
                                            </MudFileUpload>

                                            <MudFileUpload T="IBrowserFile" 
                                                           Accept=".pdf"
                                                           DragAndDrop="true"
                                                           MaxFileSize="26214400"
                                                           Required="true"
                                                           OnFilesChanged="OnCvUpload"
                                                           @ref="ResumeFileUpload"
                                                           @bind-File="ResumeFile"
                                                           RequiredError="CV/Resume is required"
                                                           Class="mt-4 centered-upload">
                                                <CustomContent>
                                                    <div style="display: flex; justify-content: center;">
                                                        <MudFab Class="oneplatform-rounded-input"
                                                                StartIcon="@Icons.Material.Filled.CloudUpload"
                                                                Style="width:300px; border: 1px solid gray; border-radius: 4px;"
                                                                OnClick="@context.OpenFilePickerAsync"
                                                                Label="Upload CV / Resume" />
                                                    </div>
                                                </CustomContent>
                                                <SelectedTemplate>
                                                    @if (context != null)
                                                    {
                                                        <div style="display:flex; justify-content:center; width:100%; margin-top:8px;">
                                                            <MudStack Row AlignItems="AlignItems.Center" Spacing="2" Class="w-70">
                                                                <MudText>@context.Name (@($"{context.Size / 1024d:N1} kB"))</MudText>
                                                                <MudIconButton Icon="@Icons.Material.Filled.Close"
                                                                               Color="Color.Default"
                                                                               Size="Size.Small"
                                                                               OnClick="@(() => RemoveFileFromUploadsAsync(context))" />
                                                            </MudStack>
                                                        </div>
                                                    }
                                                </SelectedTemplate>
                                            </MudFileUpload>
                                        </div>
                                    </div>
                                </MudPaper>
                            </MudItem>
                        </MudGrid>
                    </MudStep>

                    <!-- STEP 3 -->
                    <MudStep Title="Part 1 - Step 3">
                        <MudText Typo="Typo.h6" Align="Align.Center" Style="font-weight:700;" Class="mb-4 mt-4 gradient-text">Address</MudText>
                        <MudGrid>
                            <!-- Address section -->
                            <MudItem xs="12" sm="4">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="addressDetails.CurrentAddress"
                                              Required="true"
                                              RequiredError="Current Address (No., Street, Village, Brgy.) is required"
                                              Label="Current Address (No., Street, Village, Brgy.)" />
                            </MudItem>
                            <MudItem xs="12" sm="2">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="addressDetails.CurrentCity"
                                              Required="true"
                                              RequiredError="City is required"
                                              Label="City" />
                            </MudItem>
                            <MudItem xs="12" sm="2">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="addressDetails.CurrentProvince"
                                              Required="true"
                                              RequiredError="State / Province / Region is required"
                                              Label="State / Province / Region" />
                            </MudItem>
                            <MudItem xs="12" sm="2">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="addressDetails.CurrentCountry"
                                              Required="true"
                                              RequiredError="Country is required"
                                              Label="Country" />
                            </MudItem>
                            <MudItem xs="12" sm="2">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="addressDetails.CurrentPostalCode"
                                              Required="true"
                                              Mask="@(new PatternMask("00000000000"))"
                                              RequiredError="Zip / Postal Code is required"
                                              Label="Zip / Postal Code" />
                            </MudItem>

                            <MudItem xs="12" Style="margin-bottom:-10px;">
                                <MudCheckBox T="bool" 
                                             Class="small-checkbox-label" 
                                             Style="margin-bottom:-12px;" 
                                             Value="SameAsPermanent"
                                             ValueChanged="OnSameAsPermanentChanged"
                                             Label="Check if current address is the same as permanent address" />
                            </MudItem>

                            <MudItem xs="12" sm="4">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="addressDetails.PermanentAddress"
                                              Required="true"
                                              RequiredError="Permanent Address (No., Street, Village, Brgy.) is required"
                                              Label="Permanent Address (No., Street, Village, Brgy.)" />
                            </MudItem>
                            <MudItem xs="12" sm="2">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="addressDetails.PermanentCity"
                                              Required="true"
                                              RequiredError="City is required"
                                              Label="City" />
                            </MudItem>
                            <MudItem xs="12" sm="2">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="addressDetails.PermanentProvince"
                                              Required="true"
                                              RequiredError="State / Province / Region is required"
                                              Label="State / Province / Region" />
                            </MudItem>
                            <MudItem xs="12" sm="2">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="addressDetails.PermanentCountry"
                                              Required="true"
                                              RequiredError="Country is required"
                                              Label="Country" />
                            </MudItem>
                            <MudItem xs="12" sm="2">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="addressDetails.PermanentPostalCode"
                                              Required="true"
                                              Mask="@(new PatternMask("00000000000"))"
                                              RequiredError="Zip / Postal Code is required"
                                              Label="Zip / Postal Code" />
                            </MudItem>

                            <!-- Ownership -->
                            <MudItem xs="12">
                                <MudText Typo="Typo.subtitle1" Align="Align.Left">Type of Ownership</MudText>
                                <div class="d-flex" style="gap:12px; flex-wrap:wrap;">
                                    <MudRadioGroup T="string"
                                                   @bind-Value="addressDetails.TypeOfOwnership"
                                                   Required="true"
                                                   RequiredError="Type of Ownership is required"
                                                   Class="d-flex flex-wrap"
                                                   Style="gap:12px;">
                                        <MudRadio T="string" Class="small-checkbox-label" Value="@("Owned")">
                                            Owned
                                        </MudRadio>
                                        <MudRadio T="string" Class="small-checkbox-label" Value="@("Rent")">
                                            Rent
                                        </MudRadio>
                                        <MudRadio T="string" Class="small-checkbox-label" Value="@("Living with family / relatives")">
                                            Living with family / relatives
                                        </MudRadio>
                                        <MudRadio T="string" Class="small-checkbox-label" Value="@("Others")">
                                            Others
                                        </MudRadio>
                                        @if (addressDetails.TypeOfOwnership == "Others")
                                        {
                                            <MudTextField Adornment="Adornment.Start"
                                                          Variant="Variant.Outlined"
                                                          Margin="Margin.Dense"
                                                          Style="width:200px;"
                                                          Class="oneplatform-rounded-input ml-2"
                                                          @bind-Value="OwnershipOtherText"
                                                          Required="true"
                                                          RequiredError="Please specify is required"
                                                          Label="Please specify" />
                                        }
                                    </MudRadioGroup>
                                </div>
                            </MudItem>

                            <!-- Educational Background -->
                            <MudItem xs="12">
                                <MudText Typo="Typo.h6" Class="gradient-text" Style="font-weight:700;" Align="Align.Center">Educational Background</MudText>
                            </MudItem>

                            <MudItem xs="12" sm="6">
                                <MudSelect T="string"
                                            @bind-Value="educationalBackground.HighestEducationalAttainment"
                                            Class="oneplatform-rounded-input"
                                            Adornment="Adornment.Start"
                                            Variant="Variant.Outlined"
                                            Margin="Margin.Dense"
                                            Required="true"
                                            Label="Highest Educational Attainment"
                                            FullWidth="true">
                                    <MudSelectItem Value="@("None")">None</MudSelectItem>
                                    <MudSelectItem Value="@("Elementary Graduate")">Elementary Graduate</MudSelectItem>
                                    <MudSelectItem Value="@("High School Graduate")">High School Graduate</MudSelectItem>
                                    <MudSelectItem Value="@("Senior High School Graduate")">Senior High School Graduate</MudSelectItem>
                                    <MudSelectItem Value="@("College Graduate")">College Graduate</MudSelectItem>
                                    <MudSelectItem Value="@("Master's Graduate")">Master's Graduate</MudSelectItem>
                                    <MudSelectItem Value="@("Doctorate Graduate")">Doctorate Graduate</MudSelectItem>
                                </MudSelect>
                            </MudItem>

                            <MudItem xs="12" sm="3">
                                <MudDatePicker Label="Graduation Date"
                                               Adornment="Adornment.End"
                                               Variant="Variant.Outlined"
                                               Margin="Margin.Dense"
                                               Class="oneplatform-rounded-input"
                                               @bind-Date="GraduationDate"
                                               DateFormat="MM/dd/yyyy" />
                            </MudItem>

                            <MudItem xs="12" sm="6">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="DegreeWithMajor"
                                              Label="Degree with major" />
                            </MudItem>

                            <MudItem xs="12" sm="6">
                                <MudFileUpload T="IBrowserFile" 
                                               MaxFileSize="26214400"
                                               Accept=".pdf"
                                               Required="true"
                                               @bind-File="DiplomaORTORFile"
                                               @ref="DiplomaORTORUploadFile"
                                               Class="centered-upload"
                                               OnFilesChanged="OnDiplomaUpload"
                                               DragAndDrop="true">
                                    <CustomContent>
                                        <MudFab Class="oneplatform-rounded-input"
                                                StartIcon="@Icons.Material.Filled.CloudUpload"
                                                Style="border: 1px solid gray; border-radius: 4px; width: auto; max-width: 270px;"
                                                OnClick="@context.OpenFilePickerAsync"
                                                Label="Upload Diploma / TOR" />
                                    </CustomContent>
                                    <SelectedTemplate>
                                        @if (context != null)
                                        {
                                            <div style="display:flex; justify-content:left; width:100%; margin-top:8px;">
                                                <MudStack Row AlignItems="AlignItems.Center" Spacing="2" Class="w-70">
                                                    <MudText>@context.Name (@($"{context.Size / 1024d:N1} kB"))</MudText>
                                                    <MudIconButton Icon="@Icons.Material.Filled.Close"
                                                                   Color="Color.Default"
                                                                   Size="Size.Small"
                                                                   OnClick="@(() => RemoveFileFromUploadsAsync(context))" />
                                                </MudStack>
                                            </div>
                                        }
                                    </SelectedTemplate>
                                </MudFileUpload>
                            </MudItem>

                            <MudItem xs="12" sm="6">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="AcademicInstitution"
                                              Required="true"
                                              RequiredError="Academic Institution is required"
                                              Label="Academic Institution" />
                            </MudItem>
                        </MudGrid>
                    </MudStep>

                    <!-- STEP 4 -->
                    <MudStep Title="Part 1 - Step 4">
                        <MudText Typo="Typo.h6" Style="font-weight:700;" Align="Align.Center" Class="mt-4 mb-4 gradient-text">Credentials &amp; Licenses</MudText>
                        <MudGrid>
                            <MudItem xs="12" sm="8">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="licensesDetails.LicenseName"
                                              Required="true"
                                              RequiredError="Professional License is required"
                                              Label="Professional License" />
                            </MudItem>

                            <MudItem xs="12" sm="4">
                                <MudDatePicker Adornment="Adornment.End"
                                               Required="true"
                                               Variant="Variant.Outlined"
                                               Margin="Margin.Dense"
                                               Class="oneplatform-rounded-input"
                                               @bind-Date="LicenseExpiryDate"
                                               Label="License Expiry Date"
                                               DateFormat="MM/dd/yyyy" />
                            </MudItem>

                            <MudItem xs="12" sm="8">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="licensesDetails.LicenseNumber"
                                              Required="true"
                                              RequiredError="License No. is required"
                                              Label="License No." />
                            </MudItem>

                            <MudItem xs="12" sm="4">
                                <MudFileUpload T="IBrowserFile" 
                                               MaxFileSize="26214400"
                                               Accept=".pdf"
                                               OnFilesChanged="OnProfessionalLicenseUpload"
                                               Required="true"
                                               @ref="LicenseUploadFile"
                                               @bind-File="LicenseFile"
                                               Class="centered-upload"
                                               DragAndDrop="true">
                                    <CustomContent>
                                        <MudFab Class="oneplatform-rounded-input"
                                                StartIcon="@Icons.Material.Filled.CloudUpload"
                                                Style="border: 1px solid gray; border-radius: 4px; max-width: 368px; width: auto;"
                                                OnClick="@context.OpenFilePickerAsync"
                                                Label="Upload Professional License" />
                                    </CustomContent>
                                    <SelectedTemplate>
                                        @if (context != null)
                                        {
                                            <div style="display:flex; justify-content:center; width:100%; margin-top:8px;">
                                                <MudStack Row AlignItems="AlignItems.Center" Spacing="2" Class="w-70">
                                                    <MudText>@context.Name (@($"{context.Size / 1024d:N1} kB"))</MudText>
                                                    <MudIconButton Icon="@Icons.Material.Filled.Close"
                                                                   Color="Color.Default"
                                                                   Size="Size.Small"
                                                                   OnClick="@(() => RemoveFileFromUploadsAsync(context))" />
                                                </MudStack>
                                            </div>
                                        }
                                    </SelectedTemplate>
                                </MudFileUpload>
                            </MudItem>

                            <MudItem xs="12">
                                <MudText Typo="Typo.h6" Class="gradient-text" Style="font-weight:700;" Align="Align.Center">Professional Experiences</MudText>
                            </MudItem>

                            <MudItem xs="12" sm="6">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              Required="true"
                                              RequiredError="Company Name is required"
                                              @bind-Value="professionalExperiences.Emp1CompanyName"
                                              Label="Company Name" />
                            </MudItem>

                            <MudItem xs="12" sm="6" Class="d-flex" Style="gap:12px;">
                                <MudCheckBox T="bool" @bind-Checked="professionalExperiences.Emp1CurrentlyEmployed" Class="small-checkbox-label" Label="Currently Employed?" />
                                <MudCheckBox T="bool" @bind-Checked="professionalExperiences.Emp1PermissionToContact" Class="small-checkbox-label" Label="With permission to contact?" />
                            </MudItem>

                            <MudItem xs="12" sm="4">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Required="true"
                                              RequiredError="Company City / Address is required"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="professionalExperiences.Emp1CompanyCity"
                                              Label="Company City / Address" />
                            </MudItem>
                            <MudItem xs="12" sm="3">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Required="true"
                                              RequiredError="State / Province / Region is required"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="professionalExperiences.Emp1CompanyProvince"
                                              Label="State / Province / Region" />
                            </MudItem>
                            <MudItem xs="6" sm="2">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              Required="true"
                                              RequiredError="Country is required"
                                              @bind-Value="professionalExperiences.Emp1CompanyCountry"
                                              Label="Country" />
                            </MudItem>
                            <MudItem xs="6" sm="1">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Required="true"
                                              Mask="@(new PatternMask("00000000000"))"
                                              RequiredError="Zip Code is required"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="professionalExperiences.Emp1CompanyPostalCode"
                                              Label="Zip Code" />
                            </MudItem>
                            <MudItem xs="12" sm="2">
                                <MudDatePicker @bind-Date="DatePermittedToContact"
                                               Label="Date permitted to contact"
                                               DateFormat="MM/dd/yyyy"
                                               Required="true"
                                               Adornment="Adornment.End"
                                               Variant="Variant.Outlined"
                                               Margin="Margin.Dense"
                                               MinDate="@DateTime.Now"
                                               Class="oneplatform-rounded-input" />
                            </MudItem>

                            <MudItem xs="12" sm="3">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Required="true"
                                              RequiredError="Jb TItle is required"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="professionalExperiences.Emp1JobTitle"
                                              Label="Job Title" />
                            </MudItem>
                            <MudItem xs="12" sm="3">
                                <MudDatePicker DateFormat="MM/dd/yyyy"
                                               @bind-Date="StartOfEmployment"
                                               Adornment="Adornment.End"
                                               Variant="Variant.Outlined"
                                               Margin="Margin.Dense"
                                               Required="true"
                                               Class="oneplatform-rounded-input"
                                               Label="Start Date of Employment" />
                            </MudItem>
                            <MudItem xs="12" sm="3">
                                <MudDatePicker @bind-Date="EndOfEmployment"
                                               Adornment="Adornment.End"
                                               Variant="Variant.Outlined"
                                               Margin="Margin.Dense"
                                               Required="true"
                                               Class="oneplatform-rounded-input"
                                               Label="End Date of Employment"
                                               Disabled="@(!StartOfEmployment.HasValue)"
                                               MinDate="@StartOfEmployment?.AddDays(1)"
                                               DateFormat="MM/dd/yyyy" />
                            </MudItem>

                            <MudItem xs="12" sm="3" Class="mt-2">
                                <MudFileUpload T="IBrowserFile" 
                                               MaxFileSize="26214400"
                                               Accept=".pdf"
                                               OnFilesChanged="OnCoeUpload"
                                               Required="true"
                                               class="centered-upload"
                                               @ref="Emp1COEFileUpload"
                                               @bind-File="Emp1COEFile"
                                               DragAndDrop="true">
                                    <CustomContent>
                                        <MudFab Class="oneplatform-rounded-input"
                                                StartIcon="@Icons.Material.Filled.CloudUpload"
                                                Style="border: 1px solid gray; border-radius: 4px; width:auto; max-width: 270px;"
                                                OnClick="@context.OpenFilePickerAsync"
                                                Label="Upload COE/ID" />
                                    </CustomContent>
                                    <SelectedTemplate>
                                        @if (context != null)
                                        {
                                            <div style="display:flex; justify-content:center; width:100%; margin-top:8px;">
                                                <MudStack Row AlignItems="AlignItems.Center" Spacing="2" Class="w-70">
                                                    <MudText>@context.Name (@($"{context.Size / 1024d:N1} kB"))</MudText>
                                                    <MudIconButton Icon="@Icons.Material.Filled.Close"
                                                                   Color="Color.Default"
                                                                   Size="Size.Small"
                                                                   OnClick="@(() => RemoveFileFromUploadsAsync(context))" />
                                                </MudStack>
                                            </div>
                                        }
                                    </SelectedTemplate>
                                </MudFileUpload>
                            </MudItem>

                            <MudItem xs="12" sm="6">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Required="true"      
                                              RequiredError="Supervisor Name is required"
                                              Class="oneplatform-rounded-input"
                                              @bind-Value="professionalExperiences.Emp1SupervisorName"
                                              Label="Supervisor Name" />
                            </MudItem>
                            <MudItem xs="12" sm="6">
                                <MudTextField FullWidth="true"
                                              Adornment="Adornment.Start"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense"
                                              Class="oneplatform-rounded-input"
                                              Required="true"
                                              RequiredError="Supervisor Contact Number is required"
                                              @bind-Value="professionalExperiences.Emp1SupervisorContactNumber"
                                              Label="Contact Information" />
                            </MudItem>

                            <MudItem xs="12" Class="d-flex align-center justify-center">
                                <MudText Typo="Typo.body2">Add another employer?</MudText>
                                <MudCheckBox T="bool" @bind-Checked="AddAnotherEmployer" />
                            </MudItem>

                        </MudGrid>
                    </MudStep>

                    <!-- STEP 5 -->
                    <MudStep Title="Part 1 - Step 5">
                        <MudGrid>
                            <MudItem xs="12">
                                <MudText Typo="Typo.h6" Align="Align.Center" Style="font-weight:700;" Class="mt-4 gradient-text">Professional Character Reference</MudText>
                            </MudItem>

                            <!-- Reference 1 -->
                            <MudItem xs="12">
                                <MudGrid>
                                    <MudItem xs="12" sm="6">
                                        <MudTextField FullWidth="true"
                                                      Adornment="Adornment.Start"
                                                      Variant="Variant.Outlined"
                                                      Margin="Margin.Dense"
                                                      Required="true"
                                                      Class="oneplatform-rounded-input"
                                                      @bind-Value="referenceDetails.Ref1FullName"
                                                      Label="Full Name of Reference #1" />
                                    </MudItem>
                                    <MudItem xs="12" sm="6">
                                        <div class="d-flex" style="gap:8px; align-items:center;">
                                            <MudText Typo="Typo.body2">Professional Relationship</MudText>
                                            <MudRadioGroup T="string"
                                                           Required="true"
                                                           RequiredError="Professional Relationship is required"
                                                           @bind-Value="referenceDetails.Ref1ProfessionalRelationship"
                                                           Class="d-flex flex-wrap"
                                                           Style="gap:12px;">
                                                <MudRadio T="string" Class="small-checkbox-label" Value="@("Colleague")">
                                                    Colleague
                                                </MudRadio>
                                                <MudRadio T="string" Class="small-checkbox-label" Value="@("Superior")">
                                                    Superior
                                                </MudRadio>
                                                <MudRadio T="string" Class="small-checkbox-label" Value="@("Peer")">
                                                    Peer
                                                </MudRadio>
                                                <MudRadio T="string" Class="small-checkbox-label" Value="@("Subordinate")">
                                                    Subordinate
                                                </MudRadio>
                                            </MudRadioGroup>
                                        </div>
                                    </MudItem>

                                    <MudItem xs="12" sm="4">
                                        <MudTextField FullWidth="true"
                                                      Adornment="Adornment.Start"
                                                      Variant="Variant.Outlined"
                                                      Margin="Margin.Dense"
                                                      Class="oneplatform-rounded-input"
                                                      Required="true"
                                                      RequiredError="Affiliated Company is required"
                                                      @bind-Value="referenceDetails.Ref1AffiliatedCompany"
                                                      Label="Affiliated Company" />
                                    </MudItem>
                                    <MudItem xs="12" sm="4">
                                        <MudTextField FullWidth="true"
                                                      Adornment="Adornment.Start"
                                                      Variant="Variant.Outlined"
                                                      Margin="Margin.Dense"
                                                      Class="oneplatform-rounded-input"
                                                      @bind-Value="referenceDetails.Ref1Email"
                                                      Required="true"
                                                      RequiredError="Email Contact Information is required"
                                                      Label="Email Contact Information" />
                                    </MudItem>

                                    <MudItem xs="12" sm="4">
                                        <MudTextField FullWidth="true"
                                                      Adornment="Adornment.Start"
                                                      Variant="Variant.Outlined"
                                                      Margin="Margin.Dense"
                                                      Class="oneplatform-rounded-input"
                                                      @bind-Value="referenceDetails.Ref1ContactNumber"
                                                      Required="true"
                                                      Mask="@(new PatternMask("00000000000"))"
                                                      RequiredError="Mobile Contact Information is required"
                                                      Label="Mobile Contact Information" />
                                    </MudItem>

                                    <MudItem xs="12" sm="6" Class="d-flex" Style="gap:12px; align-items:center;">
                                        <MudText Typo="Typo.body2">Available to reach on:</MudText>
                                        <MudRadioGroup T="string"
                                                       Required="true"
                                                       @bind-Value="referenceDetails.Ref1ModeOfContact"
                                                       Class="d-flex flex-wrap"
                                                       Style="gap:12px;">
                                            <MudRadio T="string" Class="small-checkbox-label" Value="@("Email")">
                                                Email
                                            </MudRadio>
                                            <MudRadio T="string" Class="small-checkbox-label" Value="@("Phone")">
                                                Phone
                                            </MudRadio>
                                            <MudRadio T="string" Class="small-checkbox-label" Value="@("Phone")">
                                                Peer
                                            </MudRadio>
                                            <MudRadio T="string" Class="small-checkbox-label" Value="@("Both")">
                                                Both
                                            </MudRadio>
                                        </MudRadioGroup>
                                    </MudItem>

                                    <MudItem xs="12" sm="6" Class="d-flex" Style="gap:12px; align-items:center;">
                                        <MudText Typo="Typo.body2">Best time to contact:</MudText>
                                        <MudDatePicker @bind-Date="Ref1BestDate"
                                                       Class="w-25 oneplatform-rounded-input"
                                                       Adornment="Adornment.End"
                                                       Required="true"
                                                       Variant="Variant.Outlined"
                                                       Margin="Margin.Dense"
                                                       Label="Date"
                                                       DateFormat="MM/dd/yyyy" />
                                        <MudTimePicker @bind-Time="Ref1BestTime"
                                                       Class="w-25 oneplatform-rounded-input"
                                                       Adornment="Adornment.End"
                                                       Required="true"
                                                       Variant="Variant.Outlined"
                                                       Label="Time"
                                                       Margin="Margin.Dense" />
                                    </MudItem>
                                </MudGrid>
                            </MudItem>

                            <!-- Reference 2 -->
                            <MudItem xs="12">
                                <MudGrid>
                                    <MudItem xs="12" sm="6">
                                        <MudTextField FullWidth="true"
                                                      Adornment="Adornment.Start"
                                                      Variant="Variant.Outlined"
                                                      Margin="Margin.Dense"
                                                      Required="true"
                                                      Class="oneplatform-rounded-input"
                                                      @bind-Value="referenceDetails.Ref2FullName"
                                                      Label="Full Name of Reference #2" />
                                    </MudItem>
                                    <MudItem xs="12" sm="6">
                                        <div class="d-flex" style="gap:8px; align-items:center;">
                                            <MudText Typo="Typo.body2">Professional Relationship</MudText>
                                            <MudRadioGroup T="string"
                                                           Required="true"
                                                           RequiredError="Professional Relationship is required"
                                                           @bind-Value="referenceDetails.Ref2ProfessionalRelationship"
                                                           Class="d-flex flex-wrap"
                                                           Style="gap:12px;">

                                                <MudRadio T="string" Class="small-checkbox-label" Value="@("Colleague")">
                                                    Colleague
                                                </MudRadio>
                                                <MudRadio T="string" Class="small-checkbox-label" Value="@("Superior")">
                                                    Superior
                                                </MudRadio>
                                                <MudRadio T="string" Class="small-checkbox-label" Value="@("Peer")">
                                                    Peer
                                                </MudRadio>
                                                <MudRadio T="string" Class="small-checkbox-label" Value="@("Subordinate")">
                                                    Subordinate
                                                </MudRadio>
                                            </MudRadioGroup>
                                        </div>
                                    </MudItem>

                                    <MudItem xs="12" sm="4">
                                        <MudTextField FullWidth="true"
                                                      Adornment="Adornment.Start"
                                                      Variant="Variant.Outlined"
                                                      Margin="Margin.Dense"
                                                      Required="true"
                                                      RequiredError="Affiliated Company is required"
                                                      Class="oneplatform-rounded-input"
                                                      @bind-Value="referenceDetails.Ref2AffiliatedCompany"
                                                      Label="Affiliated Company" />
                                    </MudItem>
                                    <MudItem xs="12" sm="4">
                                        <MudTextField FullWidth="true"
                                                      Adornment="Adornment.Start"
                                                      Variant="Variant.Outlined"
                                                      Margin="Margin.Dense"
                                                      Class="oneplatform-rounded-input"
                                                      @bind-Value="referenceDetails.Ref2Email"
                                                      Required="true"
                                                      RequiredError="Email Contact Information is required"
                                                      Label="Email Contact Information" />
                                    </MudItem>

                                    <MudItem xs="12" sm="4">
                                        <MudTextField FullWidth="true"
                                                      Adornment="Adornment.Start"
                                                      Variant="Variant.Outlined"
                                                      Margin="Margin.Dense"
                                                      Class="oneplatform-rounded-input"
                                                      @bind-Value="referenceDetails.Ref2ContactNumber"
                                                      Required="true"
                                                       Mask="@(new PatternMask("00000000000"))"
                                                      RequiredError="Mobile Contact Information is required"
                                                      Label="Mobile Contact Information" />
                                    </MudItem>

                                    <MudItem xs="12" sm="6" Class="d-flex" Style="gap:12px; align-items:center;">
                                        <MudText Typo="Typo.body2">Available to reach on:</MudText>
                                        <MudRadioGroup T="string"
                                                       Required="true"
                                                       @bind-Value="referenceDetails.Ref2ModeOfContact"
                                                       Class="d-flex flex-wrap"
                                                       Style="gap:12px;">

                                            <MudRadio T="string" Class="small-checkbox-label" Value="@("Email")">
                                                Email
                                            </MudRadio>
                                            <MudRadio T="string" Class="small-checkbox-label" Value="@("Phone")">
                                                Phone
                                            </MudRadio>
                                            <MudRadio T="string" Class="small-checkbox-label" Value="@("Phone")">
                                                Peer
                                            </MudRadio>
                                            <MudRadio T="string" Class="small-checkbox-label" Value="@("Both")">
                                                Both
                                            </MudRadio>
                                        </MudRadioGroup>
                                    </MudItem>

                                    <MudItem xs="12" sm="6" Class="d-flex" Style="gap:12px; align-items:center;">
                                        <MudText Typo="Typo.body2">Best time to contact:</MudText>
                                        <MudDatePicker @bind-Date="Ref2BestDate"
                                                       DateFormat="MM/dd/yyyy"
                                                       Class="w-25 oneplatform-rounded-input"
                                                       Adornment="Adornment.End"
                                                       Required="true"
                                                       Variant="Variant.Outlined"
                                                       Label="Date"
                                                       Margin="Margin.Dense" />
                                        <MudTimePicker @bind-Time="Ref2BestTime"
                                                       Class="w-25 oneplatform-rounded-input"
                                                       Adornment="Adornment.End"
                                                       Required="true"
                                                       Variant="Variant.Outlined"
                                                       Label="Time"
                                                       Margin="Margin.Dense" />
                                    </MudItem>
                                </MudGrid>
                            </MudItem>

                            <MudItem xs="12" Class="d-flex align-center justify-center">
                                <MudText Typo="Typo.body2">Add another reference?</MudText>
                                <MudCheckBox T="bool" @bind-Checked="AddAnotherReference" />
                            </MudItem>

                        </MudGrid>
                    </MudStep>

                    <MudStep Title="Final">
                        <MudGrid>
                            <MudItem xs="12">
                                <MudPaper Elevation="0" Style="width:100%;">
                                    <MudItem xs="12">
                                        <MudText Typo="Typo.h6" Align="Align.Center" Style="font-weight:700;" Class="mb-4 mt-4 gradient-text">Consent to Collect and Disclose</MudText>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudText Typo="Typo.body2">
                                            I hereby give authorization and consent for CIBI Information Inc. ("CIBI"), acting on behalf of the company, to access and disclose information about me as stated below which may be in any national, provincial, regional or city files, including those maintained by both public and private organizations, and all public records, for the purpose of validating my identity, checking on the truthfulness of the declarations made and the authenticity of documents submitted to the Company.
                                        </MudText>
                                        <MudText Typo="Typo.body2" Class="mt-2">
                                            - Consumer credit history inquiry with a government ID verification which will include information about me including any previous bankruptcies, civil legal proceedinas, collection actions
                                            negative banking items and other information reported by my creditors, and I hereby authorize any public or private institution to provide and release to CIBI information related to my credit
                                            record.
                                        </MudText>
                                        <MudText Typo="Typo.body2" Class="mt-2">
                                            - Details regarding any academic training, verification of any diplomas or degrees received; and verification of any professional accreditations, and | hereby authorize any public or private
                                            educational institution to provide and release to CIBI information related to my educational/training record.
                                        </MudText>
                                        <MudText Typo="Typo.body2" Class="mt-2">
                                            - Details regarding my employment history, including employment data verifications from any employer/position I have previously held, and I hereby authorize former employer to provide
                                            and release to CIBI information related to my employment record.
                                        </MudText>
                                        <MudText Typo="Typo.body2" Class="mt-2">
                                            - References from any professional and personal associates I have provided or will provide, including information on my attendance, technical skills, interpersonal relations and any other
                                            pertinent information and i hereby authorize any professional associations to provide and release to CIBI information related to my employment record.
                                        </MudText>
                                        <MudText Typo="Typo.body2" Class="mt-2 mb-8">
                                            - Obtain information about myself and actions l am or have been involved in from judicial court, tribunal, regulatory body disciplinary committee of any other legal or quasi-legal authority i
                                            the Philippines and I hereby authorize these judicial or quasi-judicial bodies to provide and release to CIBI information related to my records.
                                        </MudText>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudText Typo="Typo.h6" Align="Align.Center" Style="font-weight:700;" Class="gradient-text">
                                            Release and Discharge
                                        </MudText>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudText Typo="Typo.body2" Class="mt-2">
                                            Purpose of Consent: Background Screening /Credit (Due Diligence) Check
                                        </MudText>
                                        <MudText Typo="Typo.body2" Class="mt-4">
                                            I understand that the information obtained because of this authorization and consent will be held in the strictest of confidentiality by CIBi and/or the Company and will be maintained in
                                            accordance with their respective Privacy Policies. The information obtained will only be used in accordance with and to satisfy the scope for which this authorization/consent has been
                                            signed. I release, waive and forever discharge anyone who provides information in relation to this release, from any and all liability for the disclosure of information to CIBI or the Company. I
                                            certify that the information set out by me in this authorization/consent is correct.
                                        </MudText>
                                        <MudText Typo="Typo.body2" Class="mt-4">
                                            You may reach out to the DPO at dpo@cibi.com.ph tor any privacy concerns.
                                        </MudText>
                                    </MudItem>
                                </MudPaper>
                            </MudItem>

                            <MudItem xs="12">
                                <MudGrid>
                                    <!-- LEFT: Signature -->
                                    <MudItem xs="12">
                                        <MudPaper Elevation="0" 
                                                  Style="padding:8px; margin-bottom: 30px;">
                                            <MudGrid>
                                                 <MudItem xs="12">
                                                    <div style="text-align: center;">
                                                    <MudText Typo="Typo.subtitle2" Class="mb-1">Signature</MudText>
                                                        <SignaturePad @bind-Value="signatureDetails.Signature"
                                                                      ClearButtonClass="theme-button theme-button-active ats-signature-button"
                                                                      Class="ats-signature mb-2" />
                                                     </div>
                                                </MudItem>

                                               <MudItem xs="12">
                                                    <div style="display:flex; justify-content:center;">
                                                        <div style="width:40%;">
                                                            <MudTextField T="string"
                                                                          Label="Name"
                                                                          @bind-Value="signatureDetails.SignerName"
                                                                          Required="true"
                                                                          RequiredError="Name is required"
                                                                          Adornment="Adornment.Start"
                                                                          Variant="Variant.Outlined"
                                                                          Margin="Margin.Dense"
                                                                          Class="oneplatform-rounded-input" />
                                                        </div>
                                                    </div>
                                                </MudItem>

                                                <MudItem xs="12">
                                                    <div style="display:flex; justify-content:center;">
                                                        <div style="width:40%;">
                                                            <MudDatePicker @bind-Date="SignatureDate"
                                                                           Label="Date"
                                                                           Required="true"
                                                                           RequiredError="Date is required"
                                                                           Variant="Variant.Outlined"
                                                                           Margin="Margin.Dense"
                                                                           Class="oneplatform-rounded-input" 
                                                                           DateFormat="MM/dd/yyyy"
                                                                           ReadOnly />
                                                        </div>
                                                    </div>
                                                </MudItem>
                                            </MudGrid>
                                        </MudPaper>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </MudStep>
                </ChildContent>

                <ActionContent Context="stepper">
                    @if (_activeStep != 0)
                    {
                        <div class="d-flex justify-space-between w-100 pa-2">

                            <MudButton Style="width: 150px; border-radius: 4px; border: 2px solid gray;"
                                       Class="mt-3 mb-4"
                                       OnClick="@(() => stepper.PreviousStepAsync())">
                                Previous
                            </MudButton>

                            @if (_activeStep == stepper.Steps.Count - 1)
                            {
                                <MudButton Class="theme-button mt-3 theme-button-active mb-4"
                                           Style="width: 150px; border-radius: 4px; "
                                           OnClick="OnSubmitForm">
                                    Submit
                                </MudButton>
                            }
                            else
                            {
                                <MudButton Class="theme-button mt-3 theme-button-active mb-4"
                                           Style="width: 150px; border-radius: 4px; "
                                           OnClick="OnSaveAndNextAsync">
                                    Save & Next
                                </MudButton>
                            }
                        </div>
                    }
                </ActionContent>
            </MudStepper>
        </MudForm>
    }

</MudPaper>
