<TableComponent TItem="OrderRow"
                @ref="ordersTable"
                Title="Completed Orders (Last 30 Days)"
                EnableSearch="true"
                ColumnCount="6"
                RowsPerPage="10"
                LoadServerData="LoadOrderData">

    <HeaderTemplate>
        <MudTh>Ticket Number</MudTh>
        <MudTh>Subject Name</MudTh>
        <MudTh>Status</MudTh>
        <MudTh>Result</MudTh>
        <MudTh>Date Completed</MudTh>
        <MudTh>Dispute</MudTh>
    </HeaderTemplate>

    <RowTemplate Context="o">
        <MudTd DataLabel="Ticket Number">@o.TicketNumber</MudTd>
        <MudTd DataLabel="Subject Name">@o.SubjectName</MudTd>
        <MudTd DataLabel="Status">@o.Status</MudTd>
        <MudTd DataLabel="Result">@o.Result</MudTd>
        <MudTd DataLabel="Date Completed">@o.DateCompleted</MudTd>
        <MudTd>
            <div style="display:flex; justify-content:center; align-items:center;">
                <MudCheckBox T="bool" @bind-Checked="o.Dispute" Color="Color.Primary" />
            </div>
        </MudTd>
    </RowTemplate>
</TableComponent>

<MudGrid Class="mt-0" Justify="Justify.Center">
    <MudItem xs="12" md="5" Class="d-flex justify-center">
        <MudText Align="Align.Center" Typo="Typo.caption">
            <b class="gradient-text">IMPORTANT NOTICE!</b><br />
            To preserve data and result integrity, dispute process can only be submitted for orders compieted within the last 30 days.
            <MudSpacer/>
            Please submit an order if more than 30 days or if reverification is required for the selected individual.
        </MudText>
    </MudItem>

</MudGrid>

