@using ExcelDataReader;
@using System.Data;
@using System.Text;
@inject IJSRuntime JS
@inject IEndorsementSubmissionService EndorsementSubmissionService
@inject IDialogService DialogService

<MudGrid GutterSize="3" Class="mb-4">
    <MudItem xs="12" md="6">
        <MudPaper Elevation="1" Class="pa-4 mb-3" Style="border-radius: 10px; box-shadow: 0 0 10px rgba(42,119,174,0.8);">
            <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="mb-5 gradient-text" Style="font-size: 20px; font-weight: 700;">Candidate Details</MudText>

            <MudForm @ref="candidateForm">
                <MudGrid Spacing="2">
                    <MudItem xs="12" sm="5">
                        <MudTextField @bind-Value="subject.FirstName" 
                                      Label="Last Name"
                                      Variant="Variant.Outlined" 
                                      Class="oneplatform-rounded-input" 
                                      Required="true"
                                      RequiredError="First Name is required"/>
                    </MudItem>

                    <MudItem xs="12" sm="5">
                        <MudTextField @bind-Value="subject.LastName" 
                                    Label="Last Name" 
                                    Variant="Variant.Outlined" 
                                    Class="oneplatform-rounded-input" 
                                    Required="true"
                                    RequiredError="Last Name is required"/>
                    </MudItem>

                    <MudItem xs="12" sm="2">
                        <MudTextField @bind-Value="subject.MiddleInitial" 
                                      Label="M.I."
                                    Variant="Variant.Outlined" 
                                    Class="oneplatform-rounded-input" 
                                    Required="true"
                                    RequiredError="Middle Initial is required"/>
                    </MudItem>

                    <MudItem xs="12">
                        <MudTextField @bind-Value="subject.EmailAddress" 
                                    Label="Email Address" 
                                    Variant="Variant.Outlined" 
                                    FullWidth="true" 
                                    Class="oneplatform-rounded-input"
                                    Required="true"
                                    RequiredError="Email Address is required"/>
                    </MudItem>

                    <MudItem xs="12">
                        <MudTextField @bind-Value="subject.MobileNumber" 
                                    Label="Mobile Number" 
                                    Variant="Variant.Outlined" 
                                    FullWidth="true" 
                                    Class="oneplatform-rounded-input" 
                                    Required="true"
                                    Mask="@(new PatternMask("00000000000"))"
                                    RequiredError="Mobile Number is required"/>
                    </MudItem>

                    <MudItem xs="12">
                        <MudSelect @bind-Value="subject.SelectPackage" 
                                    Label="Select Package" 
                                    Variant="Variant.Outlined" 
                                    FullWidth="true" 
                                    Class="oneplatform-rounded-input"
                                    Required="true"
                                    RequiredError="Package is required">
                            <MudSelectItem Value="@("Basic")">Basic</MudSelectItem>
                            <MudSelectItem Value="@("Basic 2")">Basic 2</MudSelectItem>
                            <MudSelectItem Value="@("Lite")">Lite</MudSelectItem>
                            <MudSelectItem Value="@("Package 1")">Package 1</MudSelectItem>
                            <MudSelectItem Value="@("AirBNB")">AirBNB</MudSelectItem>
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="12" Class="d-flex align-center" Style="gap:12px;">
                        <MudRadioGroup @bind-Value="subject.RushNormal" Required="true">
                            <MudRadio Color="Color.Primary" Value="@("Normal")">Normal</MudRadio>
                            <MudRadio Color="Color.Primary" Value="@("Rush")">Rush</MudRadio>
                        </MudRadioGroup>
                        <MudSpacer />
                        <MudButton Class="theme-button theme-button-active mt-4" Style="width:120px; border-radius: 4px;" OnClick="SubmitCandidate">Send</MudButton>
                    </MudItem>
                </MudGrid>
            </MudForm>
        </MudPaper>

        <MudPaper Elevation="1" Class="pa-4" Style="border-radius: 10px; box-shadow: 0 0 10px rgba(42,119,174,0.8);">
            <MudText Align="Align.Center" Class="mb-5 gradient-text" Style="font-size: 20px; font-weight: 700;">Bulk Invite</MudText>

            <MudForm @ref="bulkForm">   
                <MudGrid>

                    <MudItem xs="12">
                        <MudSelect @bind-Value="bulkUploadFileDetailsDTO.PackageType"
                                   Label="Select Package"
                                   Variant="Variant.Outlined"
                                   FullWidth="true"
                                   Class="oneplatform-rounded-input"
                                   Required="true"
                                   RequiredError="Package is required">
                            <MudSelectItem Value="@("Basic")">Basic</MudSelectItem>
                            <MudSelectItem Value="@("Basic 2")">Basic 2</MudSelectItem>
                            <MudSelectItem Value="@("Lite")">Lite</MudSelectItem>
                            <MudSelectItem Value="@("Package 1")">Package 1</MudSelectItem>
                            <MudSelectItem Value="@("AirBNB")">AirBNB</MudSelectItem>
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="12" Class="d-flex justify-center align-center centered-upload"
                                    Style="gap:12px;">
                        <MudRadioGroup @bind-Value="bulkUploadFileDetailsDTO.OrderType" Required="true">
                            <MudRadio Color="Color.Primary" Value="@("Normal")">Normal</MudRadio>
                            <MudRadio Color="Color.Primary" Value="@("Rush")">Rush</MudRadio>
                        </MudRadioGroup>
                    </MudItem>

                    <MudItem xs="12">
                        <MudFileUpload @ref="@bulkFileUpload"
                                       @bind-Files="bulkFile"
                                       Accept=".csv"
                                       DragAndDrop="true"
                                       OnFilesChanged="OnBulkFileUpload"
                                       AppendMultipleFiles
                                       MaxFileSize="26214400"
                                       Required="true"
                                       Class="centered-upload">
                            <CustomContent>
                                <div style="display: flex; justify-content: center;">
                                    <MudFab Class="oneplatform-rounded-input"
                                            StartIcon="@Icons.Material.Filled.CloudUpload"
                                            Style="width:300px; border: 1px solid gray; border-radius: 4px;"
                                            OnClick="@context.OpenFilePickerAsync"
                                            Label=" Upload.csv file" />
                                </div>
                            </CustomContent>
                            <SelectedTemplate/>
                        </MudFileUpload>
                    </MudItem>

                    <MudItem xs="12" Class="d-flex justify-center">
                        <MudPaper Class="pa-4" Style="border-radius: 4px; width: 300px; box-shadow: 0 0 10px rgba(42,119,174,0.8); height: auto;">
                            <MudStack Spacing="2" >
                                <MudStack Row Justify="Justify.Center">
                                    @if (bulkFile is not null)
                                    {
                                        <MudList T="IBrowserFile" Dense="true">
                                            <MudListItem T="IBrowserFile" Value="bulkFile" @key="@bulkFile">
                                                <MudStack Row Justify="Justify.SpaceBetween" Spacing="1" Class="w-100">
                                                    <MudText Align="Align.Center">@bulkFile!.Name (@($"{bulkFile.Size / 1024d:N1} kB"))</MudText>
                                                    <MudIconButton Icon="@Icons.Material.Filled.Close"
                                                                    Color="Color.Default"
                                                                    Size="Size.Small"
                                                                    OnClick="@(() => RemoveFileFromUploadsAsync(bulkFile!))" />
                                                </MudStack>
                                            </MudListItem>
                                        </MudList>
                                    }
                                    else
                                    {
                                        <MudText Typo="Typo.body2">No files selected.</MudText>
                                    }
                                </MudStack>
                                <MudStack Row Justify="Justify.Center">
                                    <MudButton Class="theme-button theme-button-active"
                                               Style="width: 200px; border-radius: 4px;"
                                               OnClick="SubmitBulk">
                                        Upload
                                    </MudButton>
                                </MudStack>
                                <MudStack AlignItems="AlignItems.Center" Spacing="1" Class="mt-2 mb-2">
                                    <MudText Typo="Typo.body2">
                                        Don’t have a file?
                                        <MudLink Href="@templateLink" Underline="Underline.Always" Class="ml-1">
                                            Download template
                                        </MudLink>
                                    </MudText>
                                </MudStack>
                            </MudStack>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudForm>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" md="6">
        <MudPaper Elevation="1" Class="pa-4 d-flex flex-column"
                  Style="height: auto; min-height: 851px; border-radius: 10px; box-shadow: 0 0 10px rgba(42,119,174,0.8);">

            <MudText Align="Align.Center" Class="mb-2 gradient-text" Style="font-size: 20px; font-weight: 700;">
                Application Form
            </MudText>

            <div style="flex:1; overflow:auto;">
                <MudImage Src="/images/ats/ApplicationForm.png"
                          Alt="Application Form"
                          Style="width:100%; height:auto; object-fit:contain; min-height: 851px;" />
            </div>

        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    private MudForm? candidateForm;
    private MudForm? bulkForm;
    private EmailInvitationRequestDTO subject = new();
    private BulkUploadFileDetailsDTO bulkUploadFileDetailsDTO = new();
    private IBrowserFile? bulkFile;
    private MudFileUpload<IBrowserFile> bulkFileUpload = default!;
    private string? templateLink;

    protected override async Task OnInitializedAsync()
    {
        templateLink = await EndorsementSubmissionService.DownloadBulkTemplateAsync();
    }

    private async Task SubmitCandidate()
    {
        await candidateForm!.ValidateAsync();
        if (!candidateForm.IsValid)
        {
            return;
        }

        var isSent = await EndorsementSubmissionService.InsertEmailInvitationRequestAsync(subject);
    }

    private async Task SubmitBulk()
    {
        await bulkForm!.ValidateAsync();

        if (!bulkForm.IsValid)
            return;

        var previewData = BuildCsvPreview();

        var parameters = new DialogParameters
        {
            { nameof(BulkPreviewComponent.Headers), previewData.Headers },
            { nameof(BulkPreviewComponent.Rows), previewData.Rows }
        };

        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Large,
            FullWidth = true,
            CloseButton = true
        };

        var dialog = await DialogService.ShowAsync<BulkPreviewComponent>(
            "Preview Upload",
            parameters,
            options);

        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            var isSent = await EndorsementSubmissionService
                .InsertBulkSubjectAsync(bulkUploadFileDetailsDTO);

            if (isSent)
            {
                bulkFile = null;
                bulkUploadFileDetailsDTO = new();
            }
        }
    }

    public class ExcelPreviewData
    {
        public List<string> Headers { get; set; } = [];
        public List<List<string>> Rows { get; set; } = [];
    }

    private ExcelPreviewData BuildCsvPreview()
    {
        var result = new ExcelPreviewData();

        var csvContent = Encoding.UTF8.GetString(
            bulkUploadFileDetailsDTO.BulkFile!);

        var lines = csvContent
            .Split(new[] { "\r\n", "\n" },
                StringSplitOptions.RemoveEmptyEntries);

        if (lines.Length == 0)
            return result;

        result.Headers = lines[0]
            .Split(',')
            .Select(x => x.Trim())
            .ToList();

        foreach (var line in lines.Skip(1))
        {
            result.Rows.Add(
                line.Split(',')
                    .Select(x => x.Trim())
                    .ToList());
        }

        return result;
    }

    private async Task OnBulkFileUpload(InputFileChangeEventArgs e)
    {
        bulkFile = e.File;
        bulkUploadFileDetailsDTO.FileName = e.File.Name;

        if (bulkFile != null)
        {
            using var ms = new MemoryStream();

            await bulkFile
                .OpenReadStream(maxAllowedSize: 25 * 1024 * 1024)
                .CopyToAsync(ms);

            bulkUploadFileDetailsDTO.BulkFile = ms.ToArray();
        }

        return;
    }

    private async Task RemoveFileFromUploadsAsync(IBrowserFile file)
    {
        if (await bulkFileUpload.RemoveFileAsync(file))
        {
            bulkFile = null;
            return;
        }
    }
}
