@inject IJSRuntime JS
@inject IEndorsementSubmissionService EndorsementSubmissionService
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject EmailValidationService EmailValidationService

<MudGrid Class="mb-4">
    <MudItem xs="12" md="6">
        <MudPaper Elevation="1" Class="pa-4 mb-3" Style="border-radius: 4px; box-shadow: 0 0 10px rgba(42,119,174,0.8); min-height: 414px;">
            <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="mb-5 gradient-text" Style="font-size: 20px; font-weight: 700;">Candidate Details</MudText>

            <MudForm @ref="candidateForm" Disabled="@isSavingCandidate">
                <MudGrid Spacing="2">
                    <MudItem xs="12" sm="5">
                        <MudTextField @bind-Value="subject.FirstName" 
                                      Label="Last Name"
                                      Adornment="Adornment.Start"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense"
                                      Class="oneplatform-rounded-input" 
                                      Required="true"
                                      RequiredError="First Name is required"/>
                    </MudItem>

                    <MudItem xs="12" sm="5">
                        <MudTextField @bind-Value="subject.LastName" 
                                    Label="Last Name" 
                                    Adornment="Adornment.Start"
                                    Variant="Variant.Outlined"
                                    Margin="Margin.Dense"
                                    Class="oneplatform-rounded-input" 
                                    Required="true"
                                    RequiredError="Last Name is required"/>
                    </MudItem>

                    <MudItem xs="12" sm="2">
                        <MudTextField @bind-Value="subject.MiddleInitial" 
                                    Label="M.I."
                                    Adornment="Adornment.Start"
                                    Variant="Variant.Outlined"
                                    Margin="Margin.Dense"
                                    Class="oneplatform-rounded-input"/>
                    </MudItem>

                    <MudItem xs="12">
                        <MudTextField @bind-Value="subject.EmailAddress" 
                                    Label="Email Address" 
                                    Adornment="Adornment.Start"
                                    Variant="Variant.Outlined"
                                    Margin="Margin.Dense"
                                    FullWidth="true" 
                                    Class="oneplatform-rounded-input"
                                    Required="true"
                                    RequiredError="Email Address is required"
                                    Validation="@((string value) => EmailValidationService.ValidateEmail(value))" />
                    </MudItem>

                    <MudItem xs="12">
                        <MudTextField @bind-Value="subject.MobileNumber" 
                                    Label="Mobile Number" 
                                    Adornment="Adornment.Start"
                                    Variant="Variant.Outlined"
                                    Margin="Margin.Dense"
                                    FullWidth="true" 
                                    Class="oneplatform-rounded-input" 
                                    Required="true"
                                    Mask="@(new PatternMask("00000000000"))"
                                    RequiredError="Mobile Number is required"/>
                    </MudItem>

                    <MudItem xs="12">
                        <MudSelect @bind-Value="subject.SelectPackage" 
                                    Label="Select Package" 
                                    Adornment="Adornment.Start"
                                    Variant="Variant.Outlined"
                                    Margin="Margin.Dense"
                                    FullWidth="true" 
                                    Class="oneplatform-rounded-input"
                                    Required="true"
                                    RequiredError="Package is required">
                            <MudSelectItem Value="@("Basic")">Basic</MudSelectItem>
                            <MudSelectItem Value="@("Basic 2")">Basic 2</MudSelectItem>
                            <MudSelectItem Value="@("Lite")">Lite</MudSelectItem>
                            <MudSelectItem Value="@("Package 1")">Package 1</MudSelectItem>
                            <MudSelectItem Value="@("AirBNB")">AirBNB</MudSelectItem>
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="12" Class="d-flex align-center" Style="gap:12px;">
                        <MudRadioGroup @bind-Value="subject.RushNormal" Required="true">
                            <MudRadio Color="Color.Primary" Value="@("Normal")">Normal</MudRadio>
                            <MudRadio Color="Color.Primary" Value="@("Rush")">Rush</MudRadio>
                        </MudRadioGroup>
                        <MudSpacer />
                        <MudButton Class="theme-button theme-button-active mt-4" 
                                   Style="width:120px; border-radius: 4px;" 
                                   OnClick="OnSubmitCandidate">
                            @if (isSavingCandidate)
                            {
                                <MudProgressCircular Size = "Size.Small" Indeterminate = "true" />
                                
                                <span> Saving...</span>
                            }
                            else
                            {
                                <span>Send</span>
                            }
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudForm>
        </MudPaper>

        <MudPaper Elevation="1" Class="pa-4" Style="border-radius: 4px; box-shadow: 0 0 10px rgba(42,119,174,0.8); min-height: 495px;">
            <MudText Align="Align.Center" Class="mb-5 gradient-text" Style="font-size: 20px; font-weight: 700;">Bulk Invite</MudText>

            <MudForm @ref="bulkForm" Disabled="@isUploadingBulk">
                <MudGrid>

                    <MudItem xs="12">
                        <MudSelect @bind-Value="bulkUploadFileDetailsDTO.PackageType"
                                   Label="Select Package"
                                   Adornment="Adornment.Start"
                                   Variant="Variant.Outlined"
                                   Margin="Margin.Dense"
                                   FullWidth="true"
                                   Class="oneplatform-rounded-input"
                                   Required="true"
                                   RequiredError="Package is required">
                            <MudSelectItem Value="@("Basic")">Basic</MudSelectItem>
                            <MudSelectItem Value="@("Basic 2")">Basic 2</MudSelectItem>
                            <MudSelectItem Value="@("Lite")">Lite</MudSelectItem>
                            <MudSelectItem Value="@("Package 1")">Package 1</MudSelectItem>
                            <MudSelectItem Value="@("AirBNB")">AirBNB</MudSelectItem>
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="12" Class="d-flex justify-center align-center centered-upload"
                                    Style="gap:12px;">
                        <MudRadioGroup @bind-Value="bulkUploadFileDetailsDTO.OrderType" Required="true">
                            <MudRadio Color="Color.Primary" Value="@("Normal")">Normal</MudRadio>
                            <MudRadio Color="Color.Primary" Value="@("Rush")">Rush</MudRadio>
                        </MudRadioGroup>
                    </MudItem>

                    <MudItem xs="12">
                        <MudFileUpload T="IBrowserFile"
                                       @ref="@bulkFileUpload"
                                       OnFilesChanged="OnBulkFileUpload"
                                       Accept=".csv"
                                       DragAndDrop="true"
                                       MaxFileSize="26214400"
                                       Required="true"
                                       Class="centered-upload">
                            <CustomContent>
                                <div style="display: flex; justify-content: center;">
                                    <MudFab Class="oneplatform-rounded-input"
                                            StartIcon="@Icons.Material.Filled.CloudUpload"
                                            Style="width:300px; border: 1px solid gray; border-radius: 4px;"
                                            OnClick="@context.OpenFilePickerAsync"
                                            Label=" Upload.csv file" />
                                </div>
                            </CustomContent>
                            <SelectedTemplate/>
                        </MudFileUpload>
                    </MudItem>

                    <MudItem xs="12" Class="d-flex justify-center">
                        <MudPaper Class="pa-4  mb-1" Style="border-radius: 4px; width: 300px; box-shadow: 0 0 10px rgba(42,119,174,0.8); height: auto;">
                            <MudStack Spacing="2" >
                                <MudStack Row Justify="Justify.Center">
                                    @if (bulkUploadFileDetailsDTO.BulkFile is not null)
                                    {
                                        <MudList T="IBrowserFile" Dense="true">
                                            <MudListItem T="IBrowserFile" Value="bulkUploadFileDetailsDTO.BulkFile" @key="@bulkUploadFileDetailsDTO.BulkFile">
                                                <MudStack Row Justify="Justify.SpaceBetween" Spacing="1" Class="w-100">
                                                    <MudText Style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 200px;" Align="Align.Center">
                                                        @bulkUploadFileDetailsDTO.BulkFile!.Name (@($"{bulkUploadFileDetailsDTO.BulkFile!.Size / 1024d:N1} kB"))
                                                    </MudText>
                                                    <MudIconButton Icon="@Icons.Material.Filled.Close"
                                                                    Color="Color.Default"
                                                                    Size="Size.Small"
                                                                   OnClick="@(() => RemoveFileFromUploadsAsync(bulkUploadFileDetailsDTO.BulkFile!))" />
                                                </MudStack>
                                            </MudListItem>
                                        </MudList>
                                    }
                                    else
                                    {
                                        <MudText Typo="Typo.body2">No files selected.</MudText>
                                    }
                                </MudStack>
                                <MudStack Row Justify="Justify.Center">
                                    <MudButton Class="theme-button theme-button-active"
                                               Style="width: 200px; border-radius: 4px;"
                                               OnClick="OnSubmitBulk">


                                        @if (isUploadingBulk)
                                        {
                                            <MudProgressCircular Size="Size.Small" Indeterminate="true" />

                                            <span> Uploading...</span>
                                        }
                                        else
                                        {
                                            <span>Upload</span>
                                        }
                                        
                                    </MudButton>
                                </MudStack>
                                <MudStack AlignItems="AlignItems.Center" Spacing="1" Class="mt-2 mb-2">
                                    <MudText Typo="Typo.body2">
                                        Don’t have a file?
                                        <MudLink Underline="Underline.Always" 
                                                 OnClick="DownloadTemplate"
                                                 Class="ml-1">
                                            <span class="gradient-text">Download template</span>
                                        </MudLink>
                                    </MudText>
                                </MudStack>
                            </MudStack>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudForm>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" md="6">
        <MudPaper Elevation="1" Class="pa-4 d-flex flex-column"
                  Style="height: auto; min-height: 851px; max-height: 925px; border-radius: 4px; box-shadow: 0 0 10px rgba(42,119,174,0.8);">

            <MudText Align="Align.Center" Class="mb-2 gradient-text" Style="font-size: 20px; font-weight: 700;">
                Application Form
            </MudText>

            <div style="flex:1;">
                <MudImage Src="/images/ats/ApplicationForm.png"
                          Alt="Application Form"
                          Style="width:100%; height:auto; object-fit:contain; min-height: 851px; max-height: 851px; border-radius: 4px;" />
            </div>

        </MudPaper>
    </MudItem>
</MudGrid>

