@inject IJSRuntime JS
@inject IDialogService DialogService

<MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mb-3">
    <MudPaper Style="padding: 15px; width: 100%; max-width: 500px; border-radius: 4px; box-shadow: 0 0 10px rgba(42,119,174,0.8);">
        <MudDateRangePicker @bind-DateRange="@_dateRange"
                            Margin="Margin.Dense"
                            ReadOnly="false"
                            Clearable="true"
                            PlaceholderStart="Start Date"
                            PlaceholderEnd="End Date"
                            Label="Date Range" />
    </MudPaper>
</MudStack>

<TableComponent TItem="ReportRow"
                @ref="reportsTable"
                Title="Query Results"
                EnableSearch="true"
                ColumnCount="8"
                RowsPerPage="10"
                LoadServerData="LoadReportData">

    <HeaderTemplate>
        <MudTh> Selected</MudTh>
        <MudTh>Subject Name</MudTh>
        <MudTh>Ticket Number</MudTh>
        <MudTh>Status</MudTh>
        <MudTh>Result</MudTh>
        <MudTh>Date Completed</MudTh>
        <MudTh>Report Type</MudTh>
        <MudTh>Directory</MudTh>
    </HeaderTemplate>

    <RowTemplate Context="r">
        <MudTd DataLabel="Selected">
            <div style="display:flex; justify-content:center; align-items:center;">
                <MudCheckBox T="bool" @bind-Checked="r.Selected" Color="Color.Primary" />
            </div>
        </MudTd>
        <MudTd DataLabel="Subject Name">@r.Subject</MudTd>
        <MudTd DataLabel="Ticket Number">@r.Ticket</MudTd>
        <MudTd DataLabel="Status">@r.Status</MudTd>
        <MudTd DataLabel="Result">@r.Result</MudTd>
        <MudTd DataLabel="Date Completed">@r.DateCompleted</MudTd>
        <MudTd DataLabel="Type">@r.ReportType</MudTd>
        <MudTd DataLabel="Report Directory">
            <MudIconButton Icon="@Icons.Material.Filled.Folder" Color="Color.Primary" Size="Size.Small" OnClick="@OpenResultTriggerDialog" />
        </MudTd>
    </RowTemplate>

</TableComponent>

<MudGrid Class="mt-0">
    <MudItem xs="12" md="8">
        <MudButton Class="theme-button theme-button-active"
                   Style="width: 120px; border-radius: 4px;"
                   OnClick="DownloadSelected">Download</MudButton>
    </MudItem>
    <MudItem xs="12" md="4">
        <MudText Typo="Typo.caption" Class="text-right">
            <b class="gradient-text">IMPORTANT NOTICE!</b><br />
            For security purposes, all reports downloaded are password protected and in PDF format. Please reach out to your account manager for your quarterly passwords.
        </MudText>
    </MudItem>
</MudGrid>

