@typeparam TItem

<div class="responsive-table-container">
<MudTable T="TItem"
          @ref="TableRef"
          ServerData="LoadServerData"
          Class="responsive-title"
          HorizontalScrollbar="true"
          Hover="true"
          RowsPerPage="@(RowsPerPage ?? 10)"
          LoadingContent="@(UseLoadingContentBody ? null : LoadingContent)"
          LoadingContentBody="@(UseLoadingContentBody ? LoadingContentBody : null)"
          Style="border-radius: 4px; padding: 10px;">

        <ToolBarContent>
            @if (!string.IsNullOrWhiteSpace(Title))
            {
                <MudText Typo="Typo.h6" Class="responsive-title gradient-text" Style="font-size: 20px; font-weight: 700;">@Title</MudText>
            }

            <MudSpacer />
            @if (EnableSearch)
            {
                <MudTextField T="string"
                              Value="SearchString"
                              ValueChanged="@(EventCallback.Factory.Create<string>(this, SearchChanged))"
                              ValueExpression="(() => SearchString)"
                              Placeholder="Search"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"
                              Class="mt-0" />
            }

            @if (AddButtonText != null)
            {
                <MudSpacer />
                <MudButton Variant="Variant.Filled"
                           Class="theme-button theme-button-active"
                           StartIcon="@Icons.Material.Filled.Add"
                           Style="border-radius: 4px; margin-left:20px;"
                           OnClick="@OnAddClicked">
                    @AddButtonText
                </MudButton>
            }
        </ToolBarContent>

    <HeaderContent>
        @HeaderTemplate
    </HeaderContent>

    <RowTemplate Context="item">
        @RowTemplate(item)
    </RowTemplate>

    <NoRecordsContent>
        @NoRecordsTemplate
    </NoRecordsContent>
    
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public bool EnableSearch { get; set; } = true;
    [Parameter] public string AddButtonText { get; set; }
    [Parameter] public RenderFragment NoRecordsTemplate { get; set; }
    [Parameter] public EventCallback OnAddClicked { get; set; }
    private bool UseLoadingContentBody { get; set; } = true;

    private readonly RenderFragment LoadingContent = @<MudSkeleton />;
    [Parameter] public int? RowsPerPage { get; set; }
    [Parameter] public Func<TableState, CancellationToken, Task<TableData<TItem>>> LoadServerData { get; set; }

    [Parameter] public RenderFragment HeaderTemplate { get; set; }
    [Parameter] public RenderFragment<TItem> RowTemplate { get; set; }
    [Parameter] public int ColumnCount { get; set; }
   public MudTable<TItem> TableRef { get; private set; }

    [Parameter]
    public string SearchString { get; set; }

    [Parameter]
    public EventCallback<string> SearchStringChanged { get; set; }

    private async Task SearchChanged(string value)
    {
        SearchString = value;
        if (SearchStringChanged.HasDelegate)
            await SearchStringChanged.InvokeAsync(value);
        await TableRef!.ReloadServerData();
    }

    private RenderFragment LoadingContentBody => @<text>
            @for (int r = 0; r< 4; r++)
                {
                <MudTr>
                    @for (int c = 0; c<ColumnCount; c++)
                            {
                    <MudTd><MudSkeleton /></MudTd>
                            }
                </MudTr>
                }
            </text>;
}
