@page "/cnx/cnxdashboard"
@inherits SecurePageBase
@inject ICandidateService CandidateService
@inject IJSRuntime JS
@* cnx/usersearch *@
@attribute [RequirePermission(1, 1)]  

<PageTitle>Concentrix</PageTitle>

<div style="display:flex; justify-content:flex-end; gap:1rem;">
    <MudButton Variant="Variant.Filled"
               StartIcon="@Icons.Material.Filled.Download"
               Class="theme-button theme-button-active mb-4"
               Disabled="@isLoading"
               Style="border-radius: 4px;"
               OnClick="DownloadCandidateData">

        @if (isLoading)
        {
            <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="me-2" />
        }
        else
        {
            <span>Export</span>
        }
    </MudButton>
</div>

<TableComponent TItem="CandidateResponseDTO"
                @ref="candidatesTable"
                Title="Candidates"
                EnableSearch="true"
                LoadServerData="LoadCandidatesData"
                SearchString="@searchStringCandidate"
                ColumnCount="31"
                RowsPerPage="50"
                SearchStringChanged="@((string val) => searchStringCandidate = val)">
    <HeaderTemplate>
        <MudTh>Candidate ID</MudTh>
        <MudTh>Job Requisition ID</MudTh>
        <MudTh>First Name</MudTh>
        <MudTh>Middle Name</MudTh>
        <MudTh>Last Name</MudTh>
        <MudTh>Date of Birth</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>User Phone Number</MudTh>
        <MudTh>Marital Status</MudTh>
        <MudTh>Package Account Name</MudTh>
        <MudTh>Campaign Title</MudTh>
        <MudTh>MSA</MudTh>
        <MudTh>Job Requisition Primary Location</MudTh>
        <MudTh>Gender</MudTh>
        <MudTh>Hire Date</MudTh>
        <MudTh>School Name</MudTh>
        <MudTh>Education</MudTh>
        <MudTh>City</MudTh>
        <MudTh>Postal Code</MudTh>
        <MudTh>Address Line 1</MudTh>
        <MudTh>SSS Number</MudTh>
        <MudTh>Extracted SSS Number</MudTh>
        <MudTh>TIN Number</MudTh>
        <MudTh>Extracted TIN Number</MudTh>
        <MudTh>PhilHealth Number</MudTh>
        <MudTh>Extracted PhilHealth Number</MudTh>
        <MudTh>Pag-IBIG Number</MudTh>
        <MudTh>Extracted Pag-IBIG Number</MudTh>
        <MudTh>BI Form</MudTh>
        <MudTh>Initial BI Report Date</MudTh>
        <MudTh>Final BI Report Date</MudTh>
    </HeaderTemplate>

    <RowTemplate Context="candidate">
        <MudTd DataLabel="Candidate ID">@candidate.CandidateId</MudTd>
        <MudTd DataLabel="Job Requisition ID">@candidate.JobRequisitionId</MudTd>
        <MudTd DataLabel="First Name">@candidate.FirstName</MudTd>
        <MudTd DataLabel="Middle Name">@candidate.MiddleName</MudTd>
        <MudTd DataLabel="Last Name">@candidate.LastName</MudTd>
        <MudTd DataLabel="Date of Birth">@candidate.DateOfBirth</MudTd>
        <MudTd DataLabel="Email">@candidate.Email</MudTd>
        <MudTd DataLabel="User Phone Number">@candidate.UserPhoneNumber</MudTd>
        <MudTd DataLabel="Marital Status">@candidate.MaritalStatus</MudTd>
        <MudTd DataLabel="Package Account Name">@candidate.PackageAccountName</MudTd>
        <MudTd DataLabel="Campaign Title">@candidate.CampaignTitle</MudTd>
        <MudTd DataLabel="MSA">@candidate.Msa</MudTd>
        <MudTd DataLabel="Job Requisition Primary Location">@candidate.JobRequisitionPrimaryLocation</MudTd>
        <MudTd DataLabel="Gender">@candidate.Gender</MudTd>
        <MudTd DataLabel="Hire Date">@candidate.HireDate</MudTd>
        <MudTd DataLabel="School Name">@candidate.SchoolName</MudTd>
        <MudTd DataLabel="Education">@candidate.Education</MudTd>
        <MudTd DataLabel="City">@candidate.City</MudTd>
        <MudTd DataLabel="Postal Code">@candidate.PostalCode</MudTd>
        <MudTd DataLabel="Address Line 1">@candidate.AddressLine1</MudTd>
        <MudTd DataLabel="SSS Number">@candidate.SssNumber</MudTd>
        <MudTd DataLabel="Extracted SSS Number">@candidate.ExtractedSssNumber</MudTd>
        <MudTd DataLabel="TIN Number">@candidate.TinNumber</MudTd>
        <MudTd DataLabel="Extracted TIN Number">@candidate.ExtractedTinNumber</MudTd>
        <MudTd DataLabel="PhilHealth Number">@candidate.PhilhealthNumber</MudTd>
        <MudTd DataLabel="Extracted PhilHealth Number">@candidate.ExtractedPhilhealthNumber</MudTd>
        <MudTd DataLabel="Pag-IBIG Number">@candidate.PagIbigNumber</MudTd>
        <MudTd DataLabel="Extracted Pag-IBIG Number">@candidate.ExtractedPagIbigNumber</MudTd>
        <MudTd DataLabel="BI Form">

            <a href="@candidate.BIForm!.FileURL" target="_blank"
                   style="color: #1E88E5; text-decoration: underline; font-weight: bold;">
                    @candidate.BIForm.FileName
                </a>
        </MudTd>

        <MudTd DataLabel="Initial BI Report Date">
            @candidate.InitialBIReportDate
        </MudTd>

        <MudTd DataLabel="Final BI Report Date">
            @candidate.FinalBIReportDate
        </MudTd>

    </RowTemplate>
</TableComponent>
