@page "/cnx/cnxdashboard"
@inherits SecurePageBase
@inject ICandidateService CandidateService
@inject IJSRuntime JS
@* cnx/usersearch *@
@attribute [RequirePermission(1, 1)]  

<PageTitle>Concentrix</PageTitle>

<div style="display:flex; justify-content:flex-end; gap:1rem;">
    <MudButton Variant="Variant.Filled"
               StartIcon="@Icons.Material.Filled.Download"
               Class="theme-button theme-button-active mb-4"
               Disabled="@isLoading"
               OnClick="DownloadCandidateData">

        @if (isLoading)
        {
            <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="me-2" />
        }
        else
        {
            <span>Export</span>
        }
    </MudButton>
</div>

<TableComponent TItem="CandidateResponseDTO"
                @ref="candidatesTable"
                Title="Candidates"
                EnableSearch="true"
                LoadServerData="LoadCandidatesData"
                SearchString="@searchStringCandidate"
                ColumnCount="31"
                RowsPerPage="50"
                SearchStringChanged="@((string val) => searchStringCandidate = val)">
    <HeaderTemplate>
        <MudTh>Candidate ID</MudTh>
        <MudTh>Job Requisition ID</MudTh>
        <MudTh>First Name</MudTh>
        <MudTh>Middle Name</MudTh>
        <MudTh>Last Name</MudTh>
        <MudTh>Date of Birth</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>User Phone Number</MudTh>
        <MudTh>Marital Status</MudTh>
        <MudTh>Package Account Name</MudTh>
        <MudTh>Campaign Title</MudTh>
        <MudTh>MSA</MudTh>
        <MudTh>Job Requisition Primary Location</MudTh>
        <MudTh>Gender</MudTh>
        <MudTh>Hire Date</MudTh>
        <MudTh>School Name</MudTh>
        <MudTh>Education</MudTh>
        <MudTh>City</MudTh>
        <MudTh>Postal Code</MudTh>
        <MudTh>Address Line 1</MudTh>
        <MudTh>SSS Number</MudTh>
        <MudTh>Extracted SSS Number</MudTh>
        <MudTh>TIN Number</MudTh>
        <MudTh>Extracted TIN Number</MudTh>
        <MudTh>PhilHealth Number</MudTh>
        <MudTh>Extracted PhilHealth Number</MudTh>
        <MudTh>Pag-IBIG Number</MudTh>
        <MudTh>Extracted Pag-IBIG Number</MudTh>
        <MudTh>BI Form</MudTh>
        <MudTh>Initial BI Report Date</MudTh>
        <MudTh>Final BI Report Date</MudTh>
    </HeaderTemplate>

    <RowTemplate Context="candidate">
        <MudTd DataLabel="Candidate ID">@candidate.CandidateId</MudTd>
        <MudTd DataLabel="Job Requisition ID">@candidate.JobRequisitionId</MudTd>
        <MudTd DataLabel="First Name">@candidate.FirstName</MudTd>
        <MudTd DataLabel="Middle Name">@candidate.MiddleName</MudTd>
        <MudTd DataLabel="Last Name">@candidate.LastName</MudTd>
        <MudTd DataLabel="Date of Birth">@candidate.DateOfBirth</MudTd>
        <MudTd DataLabel="Email">@candidate.Email</MudTd>
        <MudTd DataLabel="User Phone Number">@candidate.UserPhoneNumber</MudTd>
        <MudTd DataLabel="Marital Status">@candidate.MaritalStatus</MudTd>
        <MudTd DataLabel="Package Account Name">@candidate.PackageAccountName</MudTd>
        <MudTd DataLabel="Campaign Title">@candidate.CampaignTitle</MudTd>
        <MudTd DataLabel="MSA">@candidate.Msa</MudTd>
        <MudTd DataLabel="Job Requisition Primary Location">@candidate.JobRequisitionPrimaryLocation</MudTd>
        <MudTd DataLabel="Gender">@candidate.Gender</MudTd>
        <MudTd DataLabel="Hire Date">@candidate.HireDate</MudTd>
        <MudTd DataLabel="School Name">@candidate.SchoolName</MudTd>
        <MudTd DataLabel="Education">@candidate.Education</MudTd>
        <MudTd DataLabel="City">@candidate.City</MudTd>
        <MudTd DataLabel="Postal Code">@candidate.PostalCode</MudTd>
        <MudTd DataLabel="Address Line 1">@candidate.AddressLine1</MudTd>
        <MudTd DataLabel="SSS Number">@candidate.SssNumber</MudTd>
        <MudTd DataLabel="Extracted SSS Number">@candidate.ExtractedSssNumber</MudTd>
        <MudTd DataLabel="TIN Number">@candidate.TinNumber</MudTd>
        <MudTd DataLabel="Extracted TIN Number">@candidate.ExtractedTinNumber</MudTd>
        <MudTd DataLabel="PhilHealth Number">@candidate.PhilhealthNumber</MudTd>
        <MudTd DataLabel="Extracted PhilHealth Number">@candidate.ExtractedPhilhealthNumber</MudTd>
        <MudTd DataLabel="Pag-IBIG Number">@candidate.PagIbigNumber</MudTd>
        <MudTd DataLabel="Extracted Pag-IBIG Number">@candidate.ExtractedPagIbigNumber</MudTd>
        <MudTd DataLabel="BI Form">

            <a href="@candidate.BIForm!.FileURL" target="_blank"
                   style="color: #1E88E5; text-decoration: underline; font-weight: bold;">
                    @candidate.BIForm.FileName
                </a>
        </MudTd>

        <MudTd DataLabel="Initial BI Report Date">
            @candidate.InitialBIReportDate
        </MudTd>

        <MudTd DataLabel="Final BI Report Date">
            @candidate.FinalBIReportDate
        </MudTd>

    </RowTemplate>
</TableComponent>

@code {
    private TableComponent<CandidateResponseDTO>? candidatesTable;
    private List<CandidateResponseDTO> currentPageData = new();
    private string? _searchStringCandidate;
    private bool isLoading = false;

    private void UpdateSearch<T>(ref string field, string value, TableComponent<T> table) where T : class
    {
        if (field != value)
        {
            field = value;
            table?.TableRef.ReloadServerData();
        }
    }

    private string searchStringCandidate
    {
        get => _searchStringCandidate!;
        set => UpdateSearch(ref _searchStringCandidate!, value, candidatesTable!);
    }

    private async Task<TableData<CandidateResponseDTO>> LoadCandidatesData(
    TableState state,
    CancellationToken cancellationToken)
    {
        isLoading = true;
        StateHasChanged(); // refresh UI immediately

        try
        {
            var pageNumber = (state.Page + 1).ToString();

            var result = await CandidateService.GetCandidates(
                searchStringCandidate,
                pageNumber,
                cancellationToken);

            currentPageData = result.Candidate ?? new List<CandidateResponseDTO>();

            return new TableData<CandidateResponseDTO>
            {
                TotalItems = result.Total,
                Items = currentPageData
            };
        }
        finally
        {
            isLoading = false;
            StateHasChanged(); // refresh UI again
        }
    }

    private async Task DownloadCandidateData()
    {
        if (currentPageData == null || !currentPageData.Any())
            return;

        var fileName = $"Candidates_Page_{DateTime.Now:MM-dd-yyyy(HH-mm-ss)}.xlsx";

        var dataForExcel = currentPageData.Select(c => new Dictionary<string, object>
        {
            ["Candidate ID"] = c.CandidateId.ToString(),
            ["Job Requisition ID"] = c.JobRequisitionId!,
            ["First Name"] = c.FirstName!,
            ["Middle Name"] = c.MiddleName!,
            ["Last Name"] = c.LastName!,
            ["Date Of Birth"] = c.DateOfBirth!,
            ["Email"] = c.Email!,
            ["User Phone Number"] = c.UserPhoneNumber!,
            ["Marital Status"] = c.MaritalStatus!,
            ["Package Account Name"] = c.PackageAccountName!,
            ["CampaignTitle"] = c.CampaignTitle!,
            ["Msa"] = c.Msa!,
            ["Job Requisition Primary Location"] = c.JobRequisitionPrimaryLocation!,
            ["Gender"] = c.Gender!,
            ["Hire Date"] = c.HireDate!,
            ["School Name"] = c.SchoolName!,
            ["Education"] = c.Education!,
            ["City"] = c.City!,
            ["Postal Code"] = c.PostalCode!,
            ["Address Line1"] = c.AddressLine1!,
            ["SSS Number"] = c.SssNumber!,
            ["Extracted SSS Number"] = c.ExtractedSssNumber!,
            ["TIN Number"] = c.TinNumber!,
            ["Extracted TIN Number"] = c.ExtractedTinNumber!,
            ["PhilHealth Number"] = c.PhilhealthNumber!,
            ["Extracted PhilHealth Number"] = c.ExtractedPhilhealthNumber!,
            ["Pag-IBIG Number"] = c.PagIbigNumber!,
            ["Extracted Pag-IBIG Number"] = c.ExtractedPagIbigNumber!
        }).ToList();

        await JS.InvokeVoidAsync("downloadExcel", fileName, dataForExcel);
    }

}
