@layout GenericLayout
@page "/philsys/idv/liveness/{HashToken}"
@inject IJSRuntime JS
@inject IPhilSysService IPhilSysService
@inject NavigationManager Navigation
@inject LocalStorageService LocalStorageService

<PageTitle>Face Liveness Session</PageTitle>

<NavigationLock ConfirmExternalNavigation="true"
                OnBeforeInternalNavigation="ConfirmNavigation" />

<div class="oneplatform-generic-container">

    @if (isTransacted || isExpired)
    {
        <ReTransactComponent IsCompleted="@isTransacted" ATSHashToken="@atsSession" WebHookUrl="@webHookUrl"></ReTransactComponent>
    }
    else if (!_completed)
    {
        <LivenessCheckComponent OnClick="StartLiveness"></LivenessCheckComponent>
    }
    else if (!string.IsNullOrEmpty(errorMessage))
    {
        <ErrorDialogComponent Message="@errorMessage"></ErrorDialogComponent>
    }
    else
    {
        <PageTitle>Verification Result</PageTitle>
        <PhilSysResultComponent VerificationResult="information" WebHookUrl="@webHookUrl"></PhilSysResultComponent>
    }

    @if (showLoader)
    {
        <PhilSysLoaderComponent/>
    }

</div>